.justify-content-spacebetween {
    justify-content: space-between !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.jg_floatChildButtonRight .cog-button {
    float: right !important;
}

.jg_floatChildButtonLeft .cog-button {
    float: left !important;
}

.cog-dialog .el-dialog {
    opacity: 1 !important;
}

.cog-form, .cog-form > .cog-form__container {
    max-width: 100% !important;
    width: 100% !important;
}

a.pl_buttonprimary {
    width: 80%;
    height: 100%;
}

a.pl_buttonsecondary {
    width: auto;
    height: auto;
}

span.pl_primarysecondarybuttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

span.pl_primarysecondarybuttons .pl_buttonprimary {
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

span.pl_primarysecondarybuttons .pl_buttonsecondary {
    border-right: none;
    border-radius: 0px 5px 5px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}