[Unit]
Description=PowerLabs 3CX Autologger (Copyright) v1

[Service]
User=root
WorkingDirectory=/usr/bin/powerlabs_3cxlogger
ExecStart=python3 3cxlogger.py
Restart=always

[Install]
WantedBy=multi-user.target
